* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 */
body {
    line-height:normal;
    color: #292C37;
    font-size: 13px;
    background: #292C37;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

html a, button a, input a, select a, textarea a,
.pure-g [class *= "pure-u"] a {
    color: #813136;
    text-decoration: none;
}

html a:hover, button a:hover, input a:hover, select a:hover, textarea a:hover,
.pure-g [class *= "pure-u"] a:hover {
    color: #8a282f;
}

/*
 * -- LAYOUT STYLES --
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}

img {
    border-radius: 0.2em;
}


.hidden {
    display: none;
    visibility: hidden;
}

/*
 * -- MENU STYLES --
 */

.header {
    padding: 0.5em;
    text-align: center;
    background: #292C37;
    color: #cccccc;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: none;
    z-index: 5;
}

.header .logo {
    text-transform: none;
    color: #cccccc;
    font-size: 190%;
    font-family: 'Dosis', sans-serif;
    font-weight: normal;
}

.header .logo span {
    color: #813136;
    font-weight: 700;
}

.header .bars {
    position: absolute;
    left: 1em;
    transform: translateY(-50%);
    top: 50%;
    font-size: 135%;
}

.header .navigation {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 2em;
    display: none;
    visibility: hidden;
    font-weight: 700;
}

.header .navigation a {
    color: #cccccc;
    margin-right: 1em;
}

.header .navigation a:hover {
    color: #8a282f;
}

.header .navigation a.is-selected  {
    color: #8a282f;
}

.side-navigation {
    position: fixed;
    z-index: 15;
    height: 100%;
    width: 10em;
    top: 0;
    left: -10em;
    padding-top: 2.5em;
    background: #292C37;
    font-weight: 700;
    font-size: 120%;
    overflow-x: hidden;
    transition: 0.5s;
}

.side-navigation a {
    display: block;
    color: #cccccc;
    width: 100%;
    margin-left: 1em;
    margin-bottom: 1em;
}

.side-navigation a.is-selected  {
    color: #8a282f;
}

.shadow {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    visibility: hidden;
}

/*
 * -- 404 --
 */
.not-found {
    font-size: 1200%;
    font-family: 'Dosis', sans-serif;
    color: #813136;
    position: absolute;
    left: -0.08em;
    bottom: -0.3em;
    z-index: -5;
    color: rgba(160, 30, 40, 0.45);
    text-shadow: 1px 4px 6px #292C37, 0 0 0 #000, 1px 4px 6px #292C37;
}
/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }


/*
 * -- SPLASH STYLES --
 */

.splash-container {
    background: #292C37;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
    
    color: #cccccc;
}

.splash {
    position: absolute;
    top: 4em;
    bottom: 4em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3em;
    text-align: center;
    width: 90%;
    overflow: auto;
}

.splash a {
	font-weight: 700;
}

.social {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: 0.5em;
    font-size: 150%;
}

.social a{
    color: #cccccc;
}

.profile-picture {
    border-radius: 50%;
    height: 10em;
    width: auto;
    display: none;
    visibility: hidden;
}

.splash-content {
    font-size: 130%;
}

.splash-content h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    width: 100%;
    margin: 0.2em;
    margin-bottom: 0.4em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.2em;
}

.splash-content .div {
    background: #813136;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    height: 2px;
}

.splash-content .main {
    font-size: 120%;
}

.presentation {
    font-size: 150%;
}

/*
 * -- CONTENT STYLES --
 */
.content-wrapper {
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
}

.content-wrapper h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    color: #813136;
    width: 85%;
    margin: 0.2em;
    margin-bottom: 0.3em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.2em;
    border-bottom: 2px solid #813136;
}

.portfolio {
    padding: 1em;
    background: #d2d4dd;
}

.projects {
    padding: 1em;
    background: #c6c8d0;
}

.skills {
    padding: 1em;
    background: #d2d4dd;
}

/*
 * -- FRAME STYLES --
 */

.frame {
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.3);
    background: #f0f0fa;
    color: #292c37;
    padding: 0.3em;
    position: relative;
    margin: auto;
    border-radius: 0.1em;
}

.frame img {
    width: 100%;
    height: auto;
}

.frame h2 {
    font-size: 110%;
    margin: 0;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    top: 0.1em;
    left: 0.1em;
    background: #f0f0fa;
    color: #813136;
    border-radius: 0.2em 0;
}

.frame p {
    margin: 0;
    font-weight: 300;
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-bottom: 0.3em;
    text-align: justify;
    font-family: 'Patrick Hand', cursive;
    line-height: 1.3;
}

/*
 * -- BLOG STYLES --
 */
.blog {
    position: absolute;
    z-index: 2;
    width: 100%;
    min-height: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4em;
    margin-bottom: 6em;
    background: #d2d4dd;
}

.blog-content {
    border-radius: 0.1em;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.3);
    background: #f0f0fa;
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
}

.blog-content > h1 {
    margin: 0;
    padding-left: 0.5em;
    margin-bottom: 0.2em;
    font-size: 90%;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    color: #6c7593;
    padding-bottom: 0.2em;
    border-bottom: 1px solid rgba(108, 117, 147, 0.3);
    text-transform: uppercase;
}

.blog-content > h2 {
    margin: 0;
    padding-left: 0.5em;
    margin-bottom: 1em;
    font-size: 120%;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    color: #6c7593;
}

.cover {
    width: 100%;
    background: #2b2b2b;
    border-radius: 0.2em;
    
    padding-left: 0.8em;
    font-size: 130%;
}

.thumbnail {
    width: 100%;
    min-height: 100%;
    background: #2b2b2b;
    border-radius: 0.2em;
    
    padding-left: 0.8em;
    font-size: 130%;
}

.small-thumbnail {
    width: 100%;
    height: 100%;
    background: #2b2b2b;
    border-radius: 0.2em;
    
    position: relative;
    padding: 0.4em;
    padding-top: 2.1em;
    font-size: 90%;
}

.small-thumbnail h2 {
    font-size: 110%;
    margin: 0;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    width: fit-content;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    top: 0;
    left: 0;
    background: #f0f0fa;
    color: #813136;
    border-radius: 0 0 0.2em 0;
}

.snippet .highlight {
    margin: 0;
    background: none;
}

.snippet .highlight code {
    font-family: 'Patrick Hand', cursive;
    text-shadow: 2px 4px 2px black;
}

.post-frame {
    color: #292c37;
    width: 100%;
}

.post-frame h1 {
    margin: 0;
    padding-left: 0.5em;
    margin-bottom: 0.2em;
    font-size: 180%;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    color: #813136;
}

.post-frame .div {
    background: #813136;
    width: 55%;
    margin-bottom: 0.3em;
    height: 2px;
}

.post-frame p {
    margin: 0;
    font-weight: 300;
    padding-left: 0.6em;
    padding-right: 0.6em;
    margin-bottom: 0.6em;
    text-align: justify;
    line-height: 1.3;
}

.post-frame .details {
    margin-bottom: 1em;
    font-size: 75%;
    color: #6c7593;
    text-align: left;
    line-height: 2;
}

.details .date {
    white-space: nowrap;
    margin-right: 1.5em;
}

.details .tags {
    white-space: nowrap;
    margin-right: 0.5em;
    padding: 0.3em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    border-radius: 0.3em;
}

.tags-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tags-list li {
    padding-top: 0.2em;
}

.blog-social {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6em;
}

.comment-form .message-textarea {
    resize: vertical;
    min-height: 6em;
}

.comment-form button {
    height: 3em;
}

.log {
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    text-align: justify;
}

.success {
    background: rgba(149, 208, 149, 0.2);
    border-top: 0.2em solid #95d095;
    border-bottom: 0.2em solid #95d095;
}

.error {
    background: rgba(228, 134, 129, 0.2);
    border-top: 0.2em solid #e48681;
    border-bottom: 0.2em solid #e48681;
}


/*
 * -- LOADER STYLES --
 */
.loader,
.loader:after {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}
.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.4em solid rgba(255, 255, 255, 0.2);
  border-right: 0.4em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.4em solid rgba(255, 255, 255, 0.2);
  border-left: 0.4em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*
 * -- MEDIA QUERIES --
 */
@media (min-width: 35.5em) {
    .profile-picture {
        display: inline;
        visibility: visible;
    }
    
    .splash-content .div {
        width: 70%;
    }
        
    .social {
        font-size: 180%;
    }
    
    .content-wrapper h1 {
        width: 70%;
    }
    
    .not-found {
        font-size: 2000%;
    }

    .post-frame .div {
        width: 40%;
    }
}

@media (min-width: 48em) {
    body {
        font-size: 16px;
    }

    .header {
        padding-left: 2em;
        text-align: left;
    }

    .splash {
        width: 80%;
        max-width: 70em;
    }

    .l-box-lrg {
        border: none;
    }
    
    .header .logo {
        width: 100%;
    }
    
    .header .bars {
        display: none;
        visibility: hidden;
    }
    
    .side-navigation {        
        display: none;
        visibility: hidden;
    }
    
    .header .navigation {
        display: inline;
        visibility: visible;
    }
    
    .splash-content .div {
        width: 50%;
    }
    
    .content-wrapper h1 {
        width: 50%;
    }
    
    .not-found {
        font-size: 2500%;
    }
}

@media (min-width: 64em) {
    .splash-content .div {
        width: 30%;
    }
    
    .content-wrapper h1 {
        width: 30%;
    }

    .thumbnail {
        padding-top: 1.7em;
        padding-bottom: 1.7em;
    }

    .post-excerpt {
        padding-left: 0.5em;
    }

    .post-frame .div {
        width: 30%;
    }

    .comment-form .name-input {
        padding-right: 0.5em;
    }

    .comment-form .email-input {
        padding-left: 0.5em;
    }
}

@media (max-width: 35.5em) {
    .hidden-xs {
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 48em) {
    .hidden-sm {
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 64em) {
    .hidden-md {
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 80em) {
    .hidden-lg {
        display: none;
        visibility: hidden;
    }
}
